*,
::after,
::before {
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: transparent;
    overflow-y: scroll;
}

a,
button,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary);
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #2A3D45;
    line-height: 1.6;
    word-break: break-word;
    background: #fcf8f8 !important ;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
table {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

h1 {
    font-weight: 900;
}  

h2 {
    color: #2A3D45;
    font-weight: 800;

}

h3{
    color: #2A3D45;

}

h4
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

body,
figure,
ul {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
    word-break: keep-all;
}

button,
input,
textarea {
    padding: 0;
    font: inherit;
    background: 0 0;
    border: 0;
}

input,
textarea {
    outline: 0;
}

button,
input[type=button],
input[type=submit] {
    cursor: pointer;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
    box-shadow: 0 0 0 50px var(--theme) inset;
}

img {
    display: block;
    max-width: 100%;
}

.entry-content {
    font-family: 'Lato', sans-serif;
    font-size: 16px !important;
}

.logo a {
    color: #362417 !important;
    font-weight: 900 !important;
}

.toc{
    background-color: #eae8e7 !important;
}

.logo-switches{
    visibility: hidden;
}

.post-tags li a{
    background-color: #E86252;
    color: #fcf8f8;
}

.post-tags li a:hover{
    background-color: #fcf8f8;
    color: #E86252;
}